#Data Type and Structures:

1. What are data structures, and why are they important?
  - Data Stuctures are the ways of storing and organising the Data.
  -The proper data structure depends on the purpose we are storing it, for example , if we need to store data in unique element wise which can be mutable , then we use Sets. Whenever we need to store data in Immutable way, we can use Tuple.
  - It helps searching & sorting operations during code run.

2. Explain the difference between mutable and immutable data types with examples
  - A mutable data type is one whose values can be changed. e.g:- Lists, Sets
  - An immutable data type is one in which the values can't be changed or altered. e.g:- Tuple, String
3. What are the main differences between lists and tuples in Python?
  - Main difference is the mutability. Lists are Mutable, whereas Tuples are immutable.
  - List is comparatively better in operations , e.g- Addition, Insertion, Deletion
4. Describe how dictionaries store data.
  - Dictionaries use Key: Value pair format to store data. To access the stored data, we need to refer the Key first.
5. Why might you use a set instead of a list in Python?
  - To get the Unique value as output we use Set.
6. What is a string in Python, and how is it different from a list?
  - In Python, String is a data type.
  - The main difference is the Mutability. String is Immutable, lists are Mutable.
7. How do tuples ensure data integrity in Python?
  - Tuples are immutable and ordered. Unlike Lists, they cant be changed after their creation.
8. What is a hash table, and how does it relate to dictionaries in Python?
  -
9. Can lists contain different data types in Python?
  -Yes, it can store different data types be it Int, Float, Stirng, etc
10. Explain why strings are immutable in Python.
  -Because once we enter any Data inside Strings, we can only Replace
11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries keep data in Key: Value pairs, which is easy to Data retrieval with Unique keys
  - Immutability is there into Dictionary , which is helpful for Data privacy, but Lists are Mutable.
  - But the Order of collections is better in Lists
12.  Describe a scenario where using a tuple would be preferable over a list.
  - Tuple is Immutable , whereas Lists are Mutable. Such scenarios where change or updation of data is restricted there we use Tuples. e.g:- Unique Adhaar Number collection
13. How do sets handle duplicate values in Python?
  -Sets inherently handle the Duplicate data by showing only the Unique values as Output not repeating the same values.
14. How does the “in” keyword work differently for lists and dictionaries?
  - In Lists, the "in" keyword looks for the Value inside the list.
  - In Dictionary, it searches for the Key instead of Value,, which is more feasible to search
15. Can you modify the elements of a tuple? Explain why or why not
  - No, if a Tuple is created , there could not be any updation later because Tuples are Immutable.
16. What is a nested dictionary, and give an example of its use case
  - Nested Dictionary is known as a dictionary whose Values are also a Dictionary
17. Describe the time complexity of accessing elements in a dictionary
  -
18. In what situations are lists preferred over dictionaries?
  - Lists are preferred where Ordered Data storage is required. and also where Homogenous data is stored
19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are Unordered as this data type keeps the Data in Key:Value method, so if we want to take out any particular Indexed data, we cannot find through Indexing, however we can find it through Key.
20.  Explain the difference between a list and a dictionary in terms of data retrieval
  - For data retrieval, Lists use the Indexing method to access any particular data, whereas in case of Dictionary , Key are used for finding any Value corresponding to the Key.

1) Write a code to create a string with your name and print it

In [ ]:
s=str("Dibyo")
s

'Dibyo'

2)Write a code to find the length of the string "Hello World"

In [ ]:
s="Hello World"
len(s)

11

3) Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
s="Python Programming"
s[0:3]

'Pyt'

4)Write a code to convert the string "hello" to uppercase

In [ ]:
s="hello"
s.upper()

'HELLO'

5)Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
s="I like apple"
s1=s.replace("apple","orange")
s1

'I like orange'

6)Write a code to create a list with numbers 1 to 5 and print it

In [7]:
n=5
i=1
list1=[]
while (i<=n):
  print(i,end=' ')  #I wanted to print the o/p in one line
  list1.append(i)
  i=i+1
print("\nOutput list:",list1)

1 2 3 4 5
Output list: [1, 2, 3, 4, 5]

7)Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
list1=[1,2,3,4]
list1.append(10)
list1

[1, 2, 3, 4, 10]

8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
list1=[1,2,3,4,5]
list1.pop(2)   #If we use Remove(2),o/p will be [1,3,4,5], as Pop uses Index to remove, but Remove use the String match
list1

[1, 2, 4, 5]

9)Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
list1=['a', 'b', 'c', 'd']
list1[1]

'b'

10) Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
list1=[10, 20, 30, 40, 50]
list1.reverse()
list1

[50, 40, 30, 20, 10]

11)Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t=(100,200,300)
print(t,type(t))

(100, 200, 300) <class 'tuple'>

12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
t=('red', 'green', 'blue', 'yellow')
t[-2]

'blue'

13) Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
t=(10, 20, 5, 15)
min(t)

5

14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
t=('dog', 'cat', 'rabbit')
t.index("cat")

1

15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
t=("orange","banana","kiwi")
"kiwi" in t

True

16) Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s={'a','b','c'}
print(s, type(s))

{'c', 'a', 'b'} <class 'set'>

17)Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s={'a','b','c'}
s.clear()
s

set()

18)Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s={1, 2, 3, 4}
s.remove(4)
s

{1, 2, 3}

19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
s1={1, 2, 3}
s2= {3, 4, 5}
s1|s2

{1, 2, 3, 4, 5}

20)Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
s1= {1, 2, 3}
s2={2, 3, 4}
s1&s2

{2, 3}

21)Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
dict= {
    "name":"Dibyo",
    "age":29,
    "city":"Kolkata"
    }
for key, value in dict.items():  #modified the code to print the o/p in new line
  print(f"{key}:{value}")

name:Dibyo
age:29
city:Kolkata

22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict={'name1':"John",
      'age':25}
dict['country']='USA'
dict

{'name1': 'John', 'age': 25, 'country': 'USA'}

23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict={'name': 'Alice', 'age': 30}
d=dict['name']
d

'Alice'

24)Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop('age')
dict

{'name': 'Bob', 'city': 'New York'}

25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:
dict={'name': 'Alice', 'city': 'Paris'}
if 'city' in dict:
  print("True")
else:
    print("false")

True

26) Write a code to create a list, a tuple, and a dictionary, and print them all

In [ ]:
list1=[10,20,30]
t1=(20,3,9)
dict1={'name': 'Alice', 'city': 'Paris'}
print("List is",">>",list1)
print("Tuple is",">>",t1)
print("Dictionary is",">>",dict1)

List is >> [10, 20, 30]
Tuple is >> (20, 3, 9)
Dictionary is >> {'name': 'Alice', 'city': 'Paris'}

27) Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced)

In [8]:
number= int(input("Please enter a number: "))
number.sort()     #How to take Random number? How to take multiple Random Input at once?

Please enter a number: 56

AttributeError: 'int' object has no attribute 'sort'

28) Write a code to create a list with strings and print the element at the third index.

In [ ]:
list1=['apple','banana','cherry','mango','orange']
list1[3]

'mango'

29) Write a code to combine two dictionaries into one and print the result

In [ ]:
from typing import Concatenate
dict1={'key1':1}
dict2={'key1':3}

d=dict1 | dict2    #unpacking dict is not known
print(d)

{'key1': 3}

30) Write a code to convert a list of strings into a set.

In [ ]:
list1=['apple','banana','mango']
set1=set(list1)
set1

{'apple', 'banana', 'mango'}